.arrow-to-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  background-color: #fff;
  z-index: 99;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 20px;
    height: 3px;
    background-color: $arrow;

  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 3px;
    background-color: $arrow;
  }

  &::before {
    transform: translate(-25%, -7.5px) rotate(60deg);
  }

  &::after {
    transform: translate(-75%, -7.5px) rotate(-60deg);
  }
}