.header {
  @include background-image('https://via.placeholder.com/300x300');

  position: relative;
  height: 75vh;
  padding: 0;
  z-index: -99;

  &__navbar {
    padding: 10px 0 0 0;
    line-height: 0;
    font-size: 0;

    @media (min-width: 992px) {
      margin: 0 100px;
    }

    @media (min-width: 1440px) {
      margin: 0 300px;
    }
  }

  &__hamburger {
    padding: 5px 0 0 15px;
  }

  &__brand {
    padding: 0 0 0 20px;

    @media (min-width: 1200px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    font-size: $navbar-font-size;
    font-weight: 500;
    color: $black;

    &:hover {
      color: $black;
      cursor: pointer;
    }
  }

  &__logo-mobile {
    @include central-location;

    @media (min-width: 992px) {
      display: none;
    }
  }
}

.buttons {
  margin: 0;
  padding: 0 20px 0 0;

  &__user,
  &__bag {
    padding: 0 3px 0 0;
    background: transparent;
    border: none;
  }

  &__user {
    padding: 0 20px 0 0;
  }

  .counter-wrapper {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    line-height: 26px;
    background-color: $black;
    border-radius: 50%;

    &__counter {
      @include central-location;

      display: inline-block;
      color: $white;
      font-size: 10px;
    }
  }
}
