.news {
  height: 282px;
  background-color: #ddd;
  padding: 30px;
  margin: 0 0 15px 0;

  @media (min-width: 1200px) {
    height: 310px;
  }

  &--big {
    height: 398px;

    @media (min-width: 1200px) {
      height: 630px;
    }
  }

  &--small {
    height: 245px;

    @media (min-width: 1200px) {
      height: 310px;
    }
  }

  &__link {
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
  }
}
