.header {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64.5%;
    background-image: url('https://via.placeholder.com/150');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -99;
  }
}
