.header {
  position: relative;
  height: 75vh;
  padding: 0;
  background-image: url('https://via.placeholder.com/300x300');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -99;

  &__navbar {
    padding: 10px 0 0 0;
    line-height: 0;
    font-size: 0;

    @media (min-width: 992px) {
      margin: 0 100px;
    }

    @media (min-width: 1440px) {
      margin: 0 300px;
    }
  }

  &__hamburger {
    padding: 5px 0 0 15px;
  }

  &__brand {
    padding: 0 0 0 20px;

    @media (min-width: 1200px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    font-size: 15px;
    font-weight: 500;
    color: #000;

    &:hover {
      color: #000;
    }
  }

  &__logo-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 992px) {
      display: none;
    }
  }
}

.buttons {
  margin: 0;
  padding: 0 20px 0 0;

  &__user,
  &__bag {
    padding: 0 3px 0 0;
    background: transparent;
    border: none;
  }

  &__user {
    padding: 0 20px 0 0;
  }

  .counter-wrapper {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    line-height: 26px;
    background-color: #000;
    border-radius: 50%;

    &__counter {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 10px;
    }
  }
}
