.header {
  height: 75vh;
  background-image: url('https://via.placeholder.com/300x300');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -99;

  &__brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.buttons {
  &__user,
  &__bag {
    background: transparent;
    border: none;
    padding-left: 10px;
  }

  .counter-wrapper {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    background-color: #000;
    border-radius: 50%;

    &__counter {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 10px;
    }
  }
}
