.newsletter {
  max-width: 650px;
  margin: 50px auto;

  @media (min-width: 992px) {
    margin: 100px auto;
  }

  &__title {
    margin: 0 0 30px 0;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 992px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 13px;

    @media (min-width: 992px) {
      font-size: 16px;
    }

    &--spam {
      margin: 14px 0 0 0;
    }
  }
  &__form {
    display: flex;
    margin: 40px 0 0 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #000;
  }

  &__input {
    flex-grow: 1;
    font-size: 13px;
    border: none;
    background-color: transparent;

    &::placeholder {
      color: rgba(50, 50, 50, 0.5);
    }
  }

  &__button {
    font-size: 13px;
    border: none;
    background-color: transparent;
  }
}
