.spinner {
  display: none;
  position: absolute;
  top: 110%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  z-index: 3;
  background: white;

  &__content {
    width: 60px;
    height: 60px;
    background: $carousel-background;
    animation: rotateplane 1.2s infinite ease-in-out;
  }

  &.spinner--visible {
    display: flex;
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}