.products {
  margin: 0 auto;

  &__product-cart {
    margin: 0 0 30px 0;
  }

  &__title {
    text-align: center;
    padding: 60px 0;
    margin: 0;
    font-size: $title-font-size;
  }

  &__btn-all-products {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    margin: 15px auto 30px;
    background: transparent;
    border: 2px solid #000;
  }
}

.product-cart {
  &__img {
    position: relative;
    height: 208px;
    margin: 0 0 15px 0;
    background-color: #ddd;

    @media (min-width: 992px) {
      height: 390px;
    }

    & img {
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__special-offer {
    margin: 0 0 12px 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
  }

  &__name {
    font-size: 13px;
    margin: 0 0 8px 0;
    text-align: left;
  }

  &__price {
    font-size: 13px;
    font-weight: 800;
  }

  &__btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
